# .gitignore
# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# Miscellaneous
.DS_Store
*.swp
*.swo